<template name="Home">
  <div align="center">
    <h3>Welcome to</h3>
    <h1><i class="fa fa-calendar"></i> Time Sheet app</h1><br/>
    <h4>Make timesheets </h4>
  </div>
  <br/><hr>
  <div class="col-sm-4">
    <div align="center">
         <h3><i class="fa fa-save"></i> Data security and IT compliance</h3>
        <p>
       Installation type (cloud-based or on-premises), IT integration for data input and output is set up individually based on your business needs
        </p>
    </div>
  </div>
  <div class="col-sm-4">
    <div align="center">
        <h3><i class="fa fa-control"></i> Full control of workforce costs</h3>
        <p>Increased compliance, saved time and improved accuracy of data entry are just a few benefits, which will help to provide unprecedented insight into your costs allocation
</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div align="center">
        <h3><i class="fa fa-laptop"></i> Simple UI</h3>
        <p>
         You don't need to install and your employees don't need to learn a new tool. All communication is done via your corporate messaging platform
        </p>
    </div>
  </div>
  <div class="col-sm-12">
    <div align="center">
       <h3><i class="fa fa-laptop"></i>How it works?</h3>
        <p>
      Contact us to schedule a company-tailored demo session on your premises
        </p>
    </div>
  </div>
</template>
